body {
    margin: 0;
    font-family: sans-serif;
}
h2 {
    margin-top: 0;
}
.wrapper {
    width: 80%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}
#accordion h3 {
    border: 1px solid;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
}
#accordion p {
    margin: 0 0 10px;
    padding: 0 10px;
    border-radius: 0 0 8px 8px;
    border-width: 1px;
    border-style: none;
    overflow: hidden;
    max-height: 0;
}